@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=latin,cyrillic-ext,latin-ext,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
.choose_country ul {
  text-align: center;
}
.choose_country ul li {
  display: inline;
  list-style: none;
  padding: 3px;
}
.choose_country a {
  text-decoration: none;
}
.choose_country a:active,
.choose_country a:hover,
.choose_country a:focus {
  opacity: 0.5;
}
.navbar {
  margin-bottom: 0px;
}
.navbar-default {
  border-bottom: 4px solid #ff8040;
}
.navbar-default .navbar-brand {
  color: #004080;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 1px 1px 1px rgba(0, 128, 192, 0.65);
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #00264d;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 1px 1px 1px rgba(0, 128, 192, 0.65);
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #0080ff;
  font-size: 16px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #004d99;
  background-color: none;
}
.navbar-default .navbar-nav > .active > a {
  font-weight: bold;
  color: #0080ff;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #0066cc;
  background-color: none;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: none;
}
.sl {
  background-color: #C0C0C0;
}
.navbar-brand {
  float: left;
  padding: 9px 15px;
  margin-bottom: 5px;
  font-size: 28px;
  line-height: 22px;
  height: 40px;
  font-family: "Rock Salt", sans-serif;
  font-weight: bold;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
body {
  font-family: Verdana, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 1.6;
  color: #333333;
  background-image: url("/assets/themes/mary/img/page-background.png");
}
.conta {
  background-color: #fff;
  padding-top: 20px;
}
.brand-fa {
  color: #004080;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 10px;
  margin-bottom: 11px;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
  font-size: 65%;
}
/* Posts List */
.blog-post {
  background: #FFF;
  position: relative;
  margin: 20px 0;
  border: 7px solid #FFF;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  -moz-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6;
  color: inset 0 1px #fff,0 0 8px #c8cfe6;
}
.blog-post .post-info {
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  color: #FFF;
  position: absolute;
  padding: 5px;
  left: 10px;
  top: 10px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
.blog-post .post-comments-count {
  text-align: center;
}
/*--------------------------------------------------------------------------
  Footer Style
--------------------------------------------------------------------------*/
.footer {
  background: #222;
  color: #A0A0A0;
  padding: 0 20px 10px 20px;
  border-top: 4px solid #ff8040;
  margin-top: 20px;
  -webkit-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  color: 0 -1px 12px rgba(0,0,0,0.4);
}
.footer h3 {
  color: #E4E4E4;
  font-size: 1.3em;
  border-bottom: 1px dotted #7C7C7C;
}
.footer ul {
  padding: 0;
}
.footer-navigate-section li {
  line-height: 20px !important;
}
.footer-stay-connected a {
  text-align: left;
  text-indent: -9999px;
  display: block;
  width: 115px;
  height: 40px;
  background: url(../img/stay-connected.png);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -webkit-transition: opacity .25s linear;
  -moz-transition: opacity .25s linear;
  -o-transition: opacity .25s linear;
  -ms-transition: opacity .25s linear;
  transition: opacity .25s linear;
}
.footer-stay-connected a:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.footer-stay-connected a.facebook {
  background-position: -115px 0;
}
.footer-stay-connected a.twitter {
  background-position: -230px 0;
}
.footer-stay-connected a.googleplus {
  background-position: 0 0;
}
.footer-stay-connected li {
  text-align: center;
}
.footer-copyright {
  text-align: center;
  color: #7C7C7C;
  border-top: 1px dotted #7C7C7C;
  padding-top: 10px;
  font-size: 0.9em;
}
