<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }}</title>

		<!-- Bootstrap CSS -->
		<link href="{{ ASSET_PATH }}/css/bootstrap.css" rel="stylesheet">
		<link href="{{ ASSET_PATH }}/css/styles.css" rel="stylesheet">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		
		<!-- <link rel="stylesheet" href="{{ ASSET_PATH }}/font-answeme-4.2.0/css/font-awesome.min.css"> -->
		
		<link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/engine2/style.css" />
	<script type="text/javascript" src="{{ ASSET_PATH }}/engine2/jquery.js"></script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="row">
					{% include JB/lang.html %}
				</div>
			</div>
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"><i class="fa fa-rebel"></i>&nbsp;&nbsp;Zavjalova-Английски</a>
			</div>
		
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav navbar-right">
					{% for link in site.data.links %}
        {% assign active = nil %}
        {% if page.url contains link.url %}
            {% assign active = 'active' %}
        {% endif %}
        <li class="{% if forloop.first %}{% endif %} {{ active }} {% if forloop.last %}{% endif %}">
            <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
    {% endfor %}
				
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
		


		{{content}}
	

		

		<!-- jQuery -->
		<script src="{{ASSET_PATH}}/js/jquery-1.11.1.min.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="{{ASSET_PATH}}/js/bootstrap.min.js"></script>
		<!-- Slider -->
        <script type="text/javascript" src="{{ ASSET_PATH }}/engine2/wowslider.js"></script>
	 	<script type="text/javascript" src="{{ ASSET_PATH }}/engine2/script.js"></script> 
	</body>

		
	</body>
</html>