        <div class="choose_country">
			<ul>
				<li><a href="/ua/{{page.path | remove: 'eng/'|remove: 'de/'|remove: 'ru/'| remove: 'ua/'}}"><img src="{{BASE_PATH}}/img/ua24.png" alt="Image"></a>
				</li>
				<li><a href="/eng/{{page.path | remove: 'ua/'| remove: 'de/'| remove: 'ru/'| remove: 'eng/'}}"><img src="{{BASE_PATH}}/img/gb24.png"  alt="Image"></a>
				</li>
				<li><a href="/de/{{page.path | remove: 'ua/'| remove: 'eng/'| remove: 'ru/'| remove: 'de/'}}"><img src="{{BASE_PATH}}/img/de24.png" alt="Image"></a>
				</li>
				<li><a href="/ru/{{page.path | remove: 'ua/'| remove: 'eng/'| remove: 'de/'| remove: 'ru/'}}"><img src="{{BASE_PATH}}/img/ru24.png" alt="Image"></a>
				</li>		
			</ul>
		</div>